:root {
  --gray-light :#667085;
  --gray-normal :#616161;
  --gray-medium :#303030;
  --gray-dark :#1A1A1A;
  --font-light :#E3E3E3;
  --font-dark :#303030;
  --stroke-light:#EBEBEB;
  --stroke-normal:#000000;
  --stroke-dark:#616161;
  --opacity-normal:7%;
  --stroke-dark: #FFFFFF;
  --opacity-dark: 20% ;
  --hover: #F7F7F7;
  --pressed:#F0F0F0;
  --focused: #005BD3;
  --background-white: #FFFFFF;
  --background-gray: #F1F1F1;
  --border-radius: 8px;
  
}

.font-small {
    font-size: 12px;
    line-height: 130%;
}
.font-normal {
    font-size: 13px;
    line-height: 140%;
}
.font-large {
    font-size: 14px;
    line-height: 140%;
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.flex{
    display: flex;
    gap: 8px;
    align-items: center;
}

.highlight{
    background-color: var(--gray-medium);
    border-radius: var(--border-radius);
}

body{
    background-color: var(--background-gray);
}

/*------------------------------------------------- BUTTONS---------------------------------------------- */

.btn-primary{
    background-color: #404040;
    color: #fff;
    padding: 6px 12px;  
    border-radius: var(--border-radius);
    font-size: 12px;
    font-weight:600;
    outline-width: 1.5px 1.5px 0px 1.5px;
    outline-style: solid;
    outline-color: #404040;
}

.btn-secondary{
    background-color: var(--background-white);
    color: #323232;
    padding: 6px 12px;  
    border-radius: var(--border-radius);
    font-size: 12px;
    font-weight:600;
    outline-width: 1px 1px 1px 1px;
    outline-style: solid;
    outline-color: rgba(0,0,0,0.1);
}

.btn-tertiary{
    background-color: transparent;
    color: #323232;
    padding: 6px 12px;  
    border-radius: var(--border-radius);
    font-size: 12px;
    font-weight:600;
}


/*------------------------------------------------- NAVBAR---------------------------------------------- */

.navbar{
    display:flex;
    background-color: var(--gray-dark);
    justify-items: center;
    justify-content: space-between;
    color: var(--font-light);
    padding:12px 16px;
}

.navbar-bell{   
    padding: 8px; 
    transition: background-color 0.3s ease-in-out; 
}

.navbar-bell:hover{
    background-color: var(--gray-normal);
}

.navbar-bell:focus,
.navbar-bell:active{
    background-color: var(--gray-light);
}


.navbar-group{  
    padding: 2px 2px 2px 8px;
    transition: background-color 0.3s ease-in-out;   
}

.navbar-group:hover{
    background-color: var(--gray-normal);
}

.navbar-group:focus,
.navbar-group:active
{
    background-color: var(--gray-light);
}

.navbar-shorthand{
    padding: 8px;
    border-radius: var(--border-radius);
    background-color: #36FBA1;
    color: rgba(0,0,0,0.4);
    margin: 0;
    font-weight: 500; 
}

.navbar-search{
    display: flex;
    align-items: center;
    align-content: center;
    
    background-color: var(--gray-medium);
    border-radius: var(--border-radius);
    border: 1px solid #616161;
    padding: 8px;
    width: 480px;
    gap: 8px;
    transition: background-color 0.1s ease-in-out; 
    cursor: none;
    caret-color: transparent; 
}


.navbar-search:hover{
    border: 1px solid #E1E1E1
}

.navbar-search:focus-within,
.navbar-search:active{
    border: 2px solid #fff;
}

.navbar-search-input{
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    margin:0px;
}

.navbar-search-input::placeholder{
    color: #B5B5B5;
}

.navbar-search-icon{
    color: var(--gray-light);
    stroke: var(--gray-light);
    width: 13px;
    margin: 0px;
}

/*--------------------------------------- MAIN------------------------------------------------------ */

.banner{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #1A1A1A;
    padding: 12px 8px 12px 16px;
    margin-top: 40px;
    width: 800px;
    height: 56px;
    color: #fff;
    border-radius: var(--border-radius);
    font-size: 13px;
    font-weight:500;
}

.banner-text{
    margin: 0px;
}
.banner-group{
    display: flex;
    align-items: center;
    gap: 8px;
    margin : 0px;
}

.banner-icon{
    padding: 0px 6px;
}

section{
    display:grid;
    color: #000000;
    margin: 0 auto;
    background-color: #fff;
    width:800px;
    margin-top:20px;
    border-radius: var(--border-radius);
    font-size: 13px;
}

.section-top{
    display:grid;
    gap: 16px;
    padding:8px;
}

.top-font{
    font-size: 14px;
    font-weight: 600;
}

 .progress-container {
    width: 72px;
    background-color: #eee;
    height: 20px; /* Set the height of the progress bar */
    margin-bottom: 20px; /* Add spacing for better visibility */
    border-radius: 28px;
}

.progress-bar {
    width: 20%; /* Set the initial width of the progress bar to one-fifth */
    height: 100%;
    background-color: #1A1A1A; /* Set the color of the progress bar */
    border-radius: 28px;
}

